<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ SITENAME }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {% include "sidebar.html" %}

            <div class="content streamlist">
                {% for stream in streaming %}
                    <div class="streampreview">
                        <a href="/s/{{ stream[0] }}" class="streamlink"><img src="/thumb/{{ stream[0] }}.jpg"></a>
                        <span class="preview-title">{{ stream[1]["title"] }}</span>
                        <span class="preview-username">{{ stream[0] }}</span> <span class="viewcount"></span>
                    </div>
                {% endfor %}
            </div>
        </div>


    </body>
</html>