<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login/Register - {{ SITENAME }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {% include "sidebar.html" %}
        <div class="content">
            <div class="centerbox">
                <form class="loginbox" method="POST">
                    <span class="minititle">Login</span>
                    <hr>
                    <span class="error">{{ login_error }}</span>
                    <span>Username</span><br>
                    <input type="text" name="username"><br>
                    <span>Password</span><br>
                    <input type="password" name="password"><br>
                    <input type="hidden" name="type" value="login">
                    <button>Login</button>

                </form>
                <form class="registerbox" method="POST">
                    <span class="minititle">
                        Register
                    </span>
                    <hr>
                    <span class="error">{{ register_error }}</span>
                    <span>Username</span><br>
                    <input type="text" name="username"><br>
                    <span>Password</span><br>
                    <input type="password" name="password"><br>
                    <span>Password (again)</span><br>
                    <input type="password" name="password-confirm"><br>
                    <span>Invite</span><br>
                    <input type="password" name="invite"><br>
                    <input type="hidden" name="type" value="register">
                    <button>Register</button>

                </form>
            </div>
        </div>
    </body>
</html>